<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANLIBIDA.Properties.Settings.QL_BIDAConnectionString" connectionString="Data Source=VUKHA\\SQLEXPRESS;Initial Catalog=QLBIDA;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QUANLIBIDA.Properties.Settings.QLBIDAConnectionString" connectionString="Data Source=VUKHA\\SQLEXPRESS;Initial Catalog=QLBIDA;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QUANLIBIDA.Properties.Settings.QLBIDA1ConnectionString" connectionString="Data Source=VUKHA\\SQLEXPRESS;Initial Catalog=QLBIDA;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
